/* Gaya dasar */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#0a0e27 , #1a1d4a );
    color: white;
    text-align: center;
    
}

/* Halaman awal */
.welcome-container {
    background-color: rgba(82, 38, 228, 0.8);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Halaman game */
.game-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
}

.answers button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answers button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.3em;
    color: #28a745;
}

#nextButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ffc107;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
